# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Prisma
# SQLite database file
*.db
*.db-journal

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
